.paginationNumberGrid {
  font-size: large;
  display: flex;
  border-color: black;
  grid-template-columns: 25px;
  grid-gap: 10px;
  float: left;
  background-color: rgba(142, 142, 189, 0.616);
  /* border-radius: 10%; */
  text-align: center;
  margin-right: -1px;
  margin-left: -1px;
  margin-bottom: 30px;
  margin-top: 1px;
}

.paginationNumberButton {
  font-size: large;
  display: flex;
  border-color: black;
  grid-template-columns: 25px;
  grid-gap: 10px;
  float: left;
  background-color: rgba(142, 142, 189, 0.616);
  /* border-radius: 10%; */
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 30px;
}

.paginationDiv {
  padding-left: 300px;
  padding-top: 10px;
  /* background-color: rgba(142, 142, 189, 0.616); */
}
